/*Copyright David Shin 2016
All Rights Reserved*/
/* iphone */
@media only screen and (min-device-width : 320px) and (max-device-width : 586px) {
  /*img { max-width: 100%;
  }
  .logo {
    max-width: 100%;
    margin-top: 100px;
    margin-bottom: 80px;
  }
  .button {
    font-size: 42px;
    margin: 6px 3px 6px 3px;
    padding: 12px 20px;
  }*/
  .select {
      color: purple;
  }
}
